body {
    background-color: #020002;

}

.flex-container-1 {
background-color: #500050;
border: 5px solid white;
    display: flex;
    flex-direction: column;
align-items: flex-start;
height: 600px;

    
}

.flex-container-1 .flex-item {
background-color: #020002;
color: white;
margin: 20px;
padding: 20px;

}
 
.flex-container-2 {
    background-color: #500050;
    border: 5px solid white;
        display: flex;
        flex-direction: row;
    align-items: center;
        height: 600px;
    }
    
    .flex-container-2 .flex-item {
    background-color: #020002;
    color: white;
    margin: 20px;
    padding: 20px;
    
    }
    
    .flex-container-3 {
        background-color: #500050;
        border: 5px solid white;
            display: flex;
            flex-direction: row;
        justify-content: flex-start;
            height: 600px;
            width: 1200px;
            flex-wrap: wrap-reverse;
        }
        
        .flex-container-3 .flex-item {
        background-color: #020002;
        color: white;
        margin: 5px;
        padding: 20px;
        width: 120px;
border: 1px solid white;
        }
    

        .flex-container-4 {
            background-color: #500050;
            border: 5px solid white;
                display: flex;
                flex-direction: column;
                justify-content: center;
            align-items: stretch;
            
            height: 600px;
width: 300px;            
                
            }
            
            .flex-container-4 .flex-item {
            background-color: #020002;
            color: white;
            margin: 5px;
            padding: 20px;
            text-align: center;
            border:
            1px dashed white;
            

            }

