body {
    background-color: #020002;

}

.flex-container-1 {
background-color: #500050;
border: 5px solid white;
    display: flex;
    flex-direction: column;
align-items: flex-start;
height: 600px;

    
}

.flex-container-1 .flex-item {
background-color: #020002;
color: white;
margin: 20px;
padding: 20px;

}
 
.flex-container-2 {
    background-color: #500050;
    border: 5px solid white;
        display: flex;
        flex-direction: row;
    align-items: center;
        height: 600px;
    }
    
    .flex-container-2 .flex-item {
    background-color: #020002;
    color: white;
    margin: 20px;
    padding: 20px;
    
    }
    
    .flex-container-3 {
        background-color: #500050;
        border: 5px solid white;
            display: flex;
            flex-direction: row;
        justify-content: flex-start;
            height: 600px;
            width: 1200px;
            flex-wrap: wrap-reverse;
        }
        
        .flex-container-3 .flex-item {
        background-color: #020002;
        color: white;
        margin: 5px;
        padding: 20px;
        width: 120px;
border: 1px solid white;
        }
    

        .flex-container-4 {
            background-color: #500050;
            border: 5px solid white;
                display: flex;
                flex-direction: column;
                justify-content:center;
            align-items: stretch;
            
            height: 600px;
width: 300px;            
                
            }
            
            .flex-container-4 .flex-item {
            background-color: #020002;
            color: white;
            margin: 5px;
            padding: 5px;
            text-align: center;
            border:
            1px dashed white;

            }

            .flex-container-4 .flex-item  button {
                background-color: #020002;
                color: white;
                margin: 5px;
                padding: 20px;
                text-align: center;
                border: 1px solid black;
                border-radius:30%;


                }
    
                .flex-container-5 {
                    background-color: #500050;
                    border: 5px solid white;
                        display: flex;
                        flex-direction: row;
                    align-content: space-between;
                    
                        height: 600px;
                        width: 1000px;
                        flex-wrap: wrap;
                    
                    }
                    
                    .flex-container-5 .flex-item {
                    background-color: #020002;
                    color: white;
                    margin: 5px;
                    padding: 20px;
                    width: 120px;
                    height: 120px;

            border: 1px solid white;
                




                .flex-container-4 button:hover {
                    background-color: yellow;
                    color: black;
                    transition: 0.8s;

                }

                .flex-container-4 button:focus {
outline-color: transparent;
outline-style: solid;
box-shadow: 0 0 0 4px yellow;
transition: 0.4s;

                }

                .flex-container-4 button:active {
                    background-color: #500050;
                 transition: 0ms;   
                }